body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:316px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:95px;
  width:335px;
  height:316px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:286px;
  width:260px;
  height:35px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:331px;
  width:260px;
  height:35px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
